<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT newsArea ANY>
<!ATTLIST newsArea id ID #REQUIRED>
<!ELEMENT newsItem ANY>
<!ATTLIST newsItem id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1053" key="3699100e-36f1-48b9-9843-ba88cff68374" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-04-05T15:00:15" updateDate="2016-04-05T15:17:17" nodeName="Home Page" urlName="home-page" path="-1,1053" isDoc="" nodeType="1052" creatorName="Nicole" writerName="Nicole" writerID="0" template="1051" nodeTypeAlias="homePage">
    <textBody><![CDATA[<p>This is the home page ... woop woop!</p>]]></textBody>
    <email><![CDATA[nicole@weirauch.dk]]></email>
    <textPage id="1059" key="b8319e59-1492-4ed1-b295-16c30a5e6e04" parentID="1053" level="2" creatorID="0" sortOrder="0" createDate="2016-04-05T15:07:02" updateDate="2016-04-05T15:07:02" nodeName="About Us" urlName="about-us" path="-1,1053,1059" isDoc="" nodeType="1058" creatorName="Nicole" writerName="Nicole" writerID="0" template="1055" nodeTypeAlias="textPage" />
    <textPage id="1060" key="905c05d5-8d55-467e-b1f9-2d148881879b" parentID="1053" level="2" creatorID="0" sortOrder="1" createDate="2016-04-05T15:07:22" updateDate="2016-04-05T15:07:22" nodeName="Contact Me!" urlName="contact-me" path="-1,1053,1060" isDoc="" nodeType="1058" creatorName="Nicole" writerName="Nicole" writerID="0" template="1055" nodeTypeAlias="textPage" />
  </homePage>
</root>