@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
	<link rel="stylesheet" type="text/css" href="/css/Style.css" />
	<head>
		<meta name="description" content="SEO info">
		<title>@Umbraco.Field("pageName")</title>
	</head>
	<body>
			@RenderSection("Footer",required:false)
			@RenderSection("Head",required:false)
	</body>
</head>

<div id="mainContentArea">
	<div id="contentBox">
		<h1>Umbraco Site!</h1> 
        <div id="pinkBox"> 
          <div id="header"></div>
          <div class="contentTitle">Look at this lovely pink box~~!</div>
            <div class="pageContent">
              @{ Html.RenderPartial ("MyTwoLevelNavigation");}

				 @RenderBody()  
					 </div>
            <div id="footer">I like pink</div>
        </div>
	</div>
</div>
</body>
</html>
